@page "/shipment/tracking/{trackingLink}"
@inject NavigationManager NavigationManager

<h3>Shipment Tracking</h3>
@if (Shipment != null)
{
    <div class="parcel-info">
        <h2>Parcel information</h2>

        <label class="title">Sender</label><br/>
        <label>@Shipment.Sender.Username</label><br/>

        <label class="title">Shipment title</label><br/>
        <label>@Shipment.Title</label><br/>

        <label class="title">Description</label><br/>
        <label>@(Shipment.Description ?? "No description provided.")</label><br/>

        <label class="title">Shipment registration date</label><br/>
        <label>@Shipment.Created</label><br/>
    </div>
    <div class="shipment-info">
        <div>
            <h2>Shipment information</h2>

            <label class="title">Assigned courier</label><br/>
            <label>@(Shipment.Courier?.Username ?? "No courier has promised to deliver this shipment yet.")</label><br/>

            <label class="title">Source post machine address</label><br/>
            <label>@Shipment.SourceMachine.Address</label><br/>

            <label class="title">Destination post machine address</label><br/>
            <label>@Shipment.DestinationMachine.Address</label><br/>
        </div>
        <div class="shipment-status">
            <h2>Shipment status</h2>

            <label class="title">Shipment status</label><br/>
            <label>@Shipment.Status</label><br/>

            <label class="title">Shipment status update date</label><br/>
            <label>@Shipment.Modified</label>
        </div>
    </div>
    
}

@code {
    [Parameter]
    public string? trackingLink { get; set; }

    [Inject]
    public IShipmentRepository ShipmentRepository { get; set; }

    public Shipment? Shipment{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        Shipment = ShipmentRepository.Shipments.
            Include(s => s.Sender).
            Include(s => s.Courier).
            Include(s => s.SourceMachine).
            Include(s => s.DestinationMachine).
            AsEnumerable().FirstOrDefault(s => s.IsValidIdHash(trackingLink));

        if(Shipment == null)
        {
            NavigationManager.NavigateTo("/shipment/tracking-not-found");
        }
       
    }
}
