@page "/tracking/shipment/{trackingLink}"
@using System.Text.RegularExpressions

<PageTitle>Shipment tracking</PageTitle>
@inject ILogger<ShipmentTracking> _logger
@page "/shipment/tracking/{trackingLink}"

<h3>Shipment tracking</h3>
@if (Shipment != null)
{
    <div class="parcel-info">
        <h2>Parcel information</h2>

        <label class="title">Sender</label><br/>
        <label>@Shipment.Sender.Username</label><br/>

        <label class="title">Shipment title</label><br/>
        <label>@Shipment.Title</label><br/>

        <label class="title">Description</label><br/>
        <label>@(Shipment.Description ?? "No description provided.")</label><br/>

        <label class="title">Shipment registration date</label><br/>
        <label>@Shipment.Created</label><br/>
    </div>
    <div class="shipment-info">
        <div>
            <h2>Shipment information</h2>

            <label class="title">Assigned courier</label><br/>
            <label>@(Shipment.Courier?.Username ?? "No courier has promised to deliver this shipment yet.")</label><br/>

            <label class="title">Source post machine address</label><br/>
            <label>@Shipment.SourceMachine.Address</label><br/>

            <label class="title">Destination post machine address</label><br/>
            <label>@Shipment.DestinationMachine.Address</label><br/>
        </div>
        <div class="shipment-status">
            <h2>Shipment status</h2>

            <label class="title">Shipment status</label><br/>
            <label>@Shipment.Status</label><br/>

            <label class="title">Shipment status update date</label><br/>
            <label>@Shipment.Modified</label>
        </div>
    </div>
    <NavLink class="btn btn-primary" href="/tracking">Back</NavLink>
}
else
{
    <label>Shipment with provided tracking link does not exist</label>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authStateTask {get; set;}

    [Parameter]
    public string? trackingLink { get; set; }

    [Inject]
    IShipmentService ShipmentService { get; set; }

    Shipment? Shipment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(trackingLink))
        {
            return;
        }
        long shipmentId;
        string[] trackingLinkParts = trackingLink.Split("-");
        string trackingCode = string.Join("-", trackingLinkParts.Skip(1));
        if (!Regex.IsMatch(trackingCode, @"^([A-Za-z0-9-_]{4})$") ||
            !long.TryParse(trackingLinkParts[0], out shipmentId))
        {
            return;
        }

        var authState = await authStateTask;
        var username = authState.User.Identities.First().Name;
        var role = authState.User.Claims.First(x => x.Type == ClaimTypes.Role).Value;
        _logger.LogInformation("User: {0} ;Rights: {1}; Time: {2}, Method: {3}", username, role,DateTime.UtcNow, nameof(OnInitializedAsync));
        try
        {
            Shipment = await ShipmentService.SelectIncludeAll(shipmentId);
            if(Shipment != null && ! ShipmentService.IsValidIdHash(shipmentId, trackingCode))
            {
                Shipment = null;
            }
        }
        catch (Exception ex)
        {
            _logger.LogWarning("User: {0} ;Rights: {1}; Time: {2}, Method: {3}",username, role, DateTime.UtcNow, nameof(OnInitializedAsync));
        }

    }

}
